
.reference_image{
    border: 5px solid rgb(0, 0, 0);
    font-size: 5em;
    float: right;
    width: 200px;
    height: 200px;
    overflow: auto;
}
#f1,#f2,#f3{
    border: 5px solid black;
}
.feature_sum_hooks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.feature_hooks {
    flex: 1;
    padding: 20px;
    border: 1px solid black;
}

body{
background:#f4f9f4;
color:#1f2d1f;
}



